@import 'lib.less';

/*Estilo*/
 body {
    .espacos(0px, 0px);
    .font(none, none, center, none);
}
input {
    .font(15px, Arial, center, #000);
    .espacos(0px 10px 0px 5px, 0px 0px 0px 0px);
    .dimension(none, 45px);
    &[type=date]::-webkit-inner-spin-button {
        .dimension(none, 45px);
    }
}
.clock {
    .dimension(none, 45px);
}
.btn {
    .background-gradient();
    .border(0px, 16px, none);
    .font(20px, Arial, center, #fff);
    .espacos(0px, 10px 20px 10px 20px);
    &:hover {
        .background-gradient(linear-gradient(to bottom, #3cb0fd, #3408db), linear-gradient(top, #3cb0fd, #3498db));
    }
}
select {
    .espacos(0px 10px 0px 0px, 0px);
    .font(18px, Arial, center, #000);
    line-height: 1.42857143;
}
.table {
    .dimension(700px, 34px);
    display: inline-table;
    line-height: 1.42857143;
    .border(1px solid #000, 4px, 10px 10px 5px #888888);
    th {
        .background-gradient();
        .font(20px, Arial, center, #fff);
        .border(none, 4px, none);
    }
    td {
        .font(20px, monospace, center, #000);
    }
    tr:nth-child(odd) {
        background: #dbfcfc;
    }
    table tr:nth-child(even) {
        background: #fff;
    }
}
.form {
    .font(15px, Arial, center, #000);
    .espacos(0px 0px 20px 0px, 10px);
    .border(1px solid, 4px, 6px 6px 5px #888888);
    .dimension(auto, auto);
    display: inline-flex;
}
#resultado {
    .font(25px, monospace, center, #000);
    .espacos(20px 20px 20px 20px, 0px);
}
h1 {
    .font(42px, monospace, center, #2980b9);
    .espacos(10px 0px 70px 00px, 0px);
    text-shadow:0px 0px 0 rgb(-23,9,104),1px 1px 0 rgb(-53,-21,74), 2px 2px 0 rgb(-82,-50,45),3px 3px 2px rgba(10,10,10,0.45),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);    
}
h4 {
    .font(18px, monospace, center, #000);
    .espacos(0px 0px 5px 0px, 0px);
}
.calendar {
    .espacos(0px, 0px 15px 0px 0px);
    .dimension(none, 45px);
}